
<div fxLayout="row" fxLayoutAlign="space-between center"  class="centrar-medio">
  <div fxFlex="40%" fxFlex.lt-sm="10" fxFlex.lt-md="20">
  </div>
  <div fxFlex="20%" fxFlex.lt-sm="10" fxFlex.lt-md="20">
    <mat-card>
      <mat-card-header>
        <img src="./assets/img/logo.png" alt="Imagen de fondo" class="imagen mb-2"/>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title fxLayoutAlign="center" class="mb-2">Registrarse</mat-card-title>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px">
          <mat-form-field>
            <mat-label>
                Nombres
            </mat-label>
            <input type="text" formControlName="nombres" matInput required>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="40%" fxFlex.lt-sm="10" fxFlex.lt-md="20">
  </div>
</div>
